* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  background-color: #F5F7FB;
  font-family: 'Karla', sans-serif;
  height: 100vh;
}

.container {
  background-color: #F5F7FB;
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  */
  padding: 2rem;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

.answerContainter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap:1rem;
}

.answerContainter span {
  display: block;
}

.questionBox {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1rem;
  border-bottom: 3px solid #DBDEF0;
}

.answer {
  border-radius: 15px;
  padding: .5rem 1rem;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.evaluateBtn {
  max-width: 30%;
  background-color: #4D5B9E;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  color: #F5F7FB;
  font-weight: 600;
  border: none;
  margin: 2rem 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;    
  margin-bottom: 2rem
}

.scoreHeader {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
}

.starterCont {
  text-align: center
}